@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family: 'Pacifico', cursive;
}

input{
    height: 40px;
    border: 2px solid rgba(128, 128, 128, 0.352);
    padding: 10px 15px;
}
input:focus{
    outline: none;
    border: 2px solid black;
}

.primary{
    background-color: rgb(255, 165, 0);
    color: white;
    border: none;
    padding: 7px;
}

i{
    cursor: pointer;
}

thead{
    background-color: rgba(128, 128, 128, 0.203);
    padding: 10px !important;
}
th{
    padding: 10px !important;
    text-align: left !important;
}
td{
    padding: 10px !important;
}
tr{
    border-bottom: 1px solid rgba(128, 128, 128, 0.203);
}

input[type='file']{
    border: none !important;
}
.sc-bczRLJ{
    border: none !important;
}